<section id="profile" class="section-container center">
    <div class="wrapper column center gap-30">
        <div class="header-container">
            <h2>{{ 'profile' | translate }}</h2>
        </div>
    
        <div class="content-container center">
            <div class="text-container">
                <span>{{ 'profile-text' | translate }}</span>
            </div>
        </div>
    
        <div class="single-arrow-container">
            <img loading="lazy" (click)="scroll.goToSection('main', 'skillset')" src="img/arrow-single.png" alt="next section">
        </div>
    </div>
</section>
