@use 'variables' as *;

.content-container {
    width: 100%;
    max-width: 1080px;
}

.text-container {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 50px #000000;
    border-radius: 99px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    span {
        color: $white;
    }
}