@use 'variables' as *;

.section-container {
    width: 100%;
    
    .wrapper {
        width: 100%;
        max-width: 1440px;
    }
}

.content-container {
    width: 100%;
}

.text-container {
    width: 100%;
    text-align: center;
    border-radius: 99px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    span {
        color: $white;
    }
}

@media(max-width: 500px) {
    .section-container {
        height: 100vh;

        .wrapper {
            height: 100%;
        }
    }
}