<div class="section-container column center">
    <div class="header-container">
        <h2>ABOUT ME</h2>
    </div>

    <div class="content-container center">
        <div class="text-container">
            <span>
                I am a Full-Stack Developer based in Merida, Mexico. 
                I enjoy helping designers and companies bring their ideas into real life.
                I am looking forward to continuing my developer career with a job in a junior web developer position. 
                My ability to solve complex problems and my passion for programming make me a valuable member for your team.
            </span>
        </div>
    </div>
</div>
