<header>
    <div class="content-container row between align-center">
        <div class="logo">
            <img src="img/logo.svg">
        </div>

        <div class="links row gap-15">
            <span (click)="scroll.goToSection('main', 'profile')">PROFILE</span>
            <span (click)="scroll.goToSection('main', 'projects')">PROJECTS</span>
            <span (click)="scroll.goToSection('main', 'contact', 'name')">CONTACT</span>
            <img src="img/menu.svg" (click)="toggleMenu()">
        </div>
    </div>
</header>
