<footer class="center">
    <div class="content-container row between align-center gap-20">
        <div class="logo">
            <img (click)="scroll.goToSection('main', 'landing-page')" src="img/logo.svg">
        </div>
    
        <div class="column gap-20 center text">
            <span>© Lukas Busch {{ currentYear }}</span>
            <span (click)="scroll.goToSection('legal-notice', 'legal-notice')">{{ 'legal-notice' | translate }}</span>
            <div class="row gap-5 license">
                <span>Font license</span>
                <a href="media/monotype-eula.html" target="_blank" rel="noopener noreferrer">OCRA by BT</a>
            </div>
        </div>
    
        <div class="row gap-20 links">
            <img (click)="openLink('https://github.com/lukasbuschdev')" src="img/github.svg">
            <img (click)="scroll.goToSection('main', 'contact', 'name')" src="img/email.svg">
            <img (click)="openLink('https://www.linkedin.com/in/lukas-busch-4192001b5')" src="img/linkedin.svg">
        </div>
    </div>
</footer>
