<div id="skillset" class="section-container column center gap-30">
    <div class="header-container">
        <h2>PROJECTS</h2>
    </div>

    <div class="content-container center column gap-30">
        @for (project of getProjects(); track $index) {
            <div class="project row gap-30">
                <div class="image-container right">
                    <img [src]="project.img">
                </div>
                <div class="name-text column between center left">
                    <div class="column left">
                        <h4>{{ project.name }}</h4>
                        <span>{{ project.description }}</span>
                    </div>
                    <div class="btn-container row gap-15">
                        <button (click)="openLink(project.link)">Live Test</button>
                        <button (click)="openLink(project.github)">Github</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

