<div id="projects" class="section-container column center gap-50">
    <div class="header-container">
        <h2>{{ 'projects' | translate }}</h2>
    </div>

    <div class="content-container center row gap-40">
        @for (project of getProjects(); track $index) {
            <div class="card column gap-20" (click)="openLink(project.link)">
                <div class="image-container">
                    <img [src]="project.img" alt="project image">
                </div>
                <div class="info-container column center gap-20">
                    <h3>{{ project.name }}</h3>

                    <div class="line"></div>

                    <div class="column gap-20 card-content between">
                        <span>{{ project.technologies }}</span>
                        <span>{{ project.description }}</span>
                        <div class="btn-container row gap-15 center">
                            <button (click)="openLink(project.link)">Live Test</button>
                            <button [class.d-none]="project.name === 'Lengo'" (click)="openLink(project.github)">Github</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="arrow-container">
        <img (click)="scroll.goToSection('main', 'contact')" src="img/arrow-single.svg" alt="next section">
    </div>
</div>

