@use 'variables' as *;

.content-container {
    width: 100%;
    max-width: 1080px;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.skill {
    height: fit-content;
    width: 70px;

    img {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    span {
        color: $white;
        text-align: center;
    }
}

@media(max-width: 600px) {
    .skill {
        img {
            height: 15vw;
        }
    } 
}