<div id="landing-page" class="section-container center">
    <div class="wrapper column gap-30">
        <div class="header-container column gap-40">
            <h1>{{ 'hi' | translate }}</h1>
            <h2>{{ 'profession' | translate }}</h2>
            <div class="button-container">
                <button (click)="scroll.goToSection('main', 'contact', 'name')">{{ 'lets-talk' | translate }}</button>
            </div>
        </div>
        <div class="image-container row between">
            <div class="icon-container row gap-15 center">
                <img (click)="openLink('https://github.com/lukasbuschdev')" src="img/github.svg">
                <img (click)="scroll.goToSection('main', 'contact', 'name')" src="img/email.svg">
                <img (click)="openLink('https://www.linkedin.com/in/lukas-busch-4192001b5')" src="img/linkedin.svg">
            </div>
            <div class="arrow-container center column gap-10">
                <span (click)="scroll.goToSection('main', 'profile')">{{ 'scroll' | translate }}</span>
                <img (click)="scroll.goToSection('main', 'profile')" src="img/arrows.svg">
            </div>

            <div class="character-container">
                <img src="img/character.webp">
            </div>
        </div>
    </div>
</div>
