<div class="section-container column gap-30 center">
    <div class="header-container column gap-20">
        <h1>Hi, I'm Lukas</h1>
        <h2>FULL-STACK WEB DEVELOPER</h2>
    </div>
    <div class="content-container row gap-20">
        <div class="card column gap-20" (click)="scroll.scrollToSection('about-me')">
            <h4>PROFILE</h4>
            <span>I'm a Full-Stack developer with 2 years hands-on experience in building web applications.</span>
        </div>
        <div class="card column gap-20" (click)="scroll.scrollToSection('projects')">
            <h4>PROJECTS</h4>
            <span>Some projects I have worked on, showcasing my skills and experience.</span>
        </div>
        <div class="card column gap-20" (click)="scroll.scrollToSection('contact')">
            <h4>CONTACT</h4>
            <span>Feel free to reach out to me through my contact form or other social media platforms.</span>
        </div>
    </div>
</div>
