@use 'variables' as *;

.section-container {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    
    .wrapper {
        position: relative;
        height: 100vh;
        height: 100dvh;
        width: 100%;
        max-width: 1440px;
    }

    h2 {
        color: $white;
        font-size: default;
    }
}


.button-container {
    width: 100%;

    button {
        font-family: "Exo 2";
        color: #00ffe0;
        font-size: 1.2rem;
        border: 1px solid #00ffe0;
        padding: 10px 15px;
        transition: $transition;

        &:hover {
            cursor: pointer;
            color: #000807;
            background-color: #00ffe0;
            box-shadow: 0 0 7px #63ffd8;
            transition: $transition;
        }
    }
}



.icon-container {
    position: absolute;
    bottom: 5vh;
    left: 3%;

    img {
        max-height: 30px;
        height: 5vw;
        min-height: 25px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
            filter: brightness(0.75);
        }
    }
}

.arrow-container {
    position: absolute;
    bottom: 5vh;
    right: 0;

    span{
        color: $white;
        width: 0;
        transform: rotate(-90deg);

        &:hover {
            cursor: pointer;
            filter: brightness(0.75);
        }
    }

    img {
        max-height: 50px;
        height: 10vw;
        min-height: 40px;
        object-fit: contain;
        
        &:hover {
            cursor: pointer;
            filter: brightness(0.75);
        }
    }
}



@media(max-width: 900px) {
    h2 {
        min-width: 300px;
    }

    .card {
        width: fit-content;
        height: fit-content;

        span {
            display: none;
        }
    }
}

@media(max-width: 500px) {
    .content-container {
        gap: 15px;
    }

    h4 {
        font-size: 1rem;
    }
}