@use 'variables' as *;

:host {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    pointer-events: none;
    background-color: $black;
  }

  .wrapper {
    position: relative;
    z-index: 0;
    background-color: transparent;
  }
  
  app-header,
  router-outlet,
  app-footer {
    position: relative;
    background-color: transparent;
  }
  