<div id="privacy-policy" class="section-container column align-center">
    <div class="right img-container">
        <img src="img/close.svg" (click)="scroll.goToSection('main', 'contact')">
    </div>

    @if(language.currentLanguage === 'en') {
        <app-privacy-policy-en></app-privacy-policy-en>
    } @else if(language.currentLanguage === 'es') {
        <app-privacy-policy-es></app-privacy-policy-es>
    } @else {
        <app-privacy-policy-de></app-privacy-policy-de>
    }

    <div class="arrow-container" [class.scrolled]="isScrolled">
        <img (click)="scroll.goToSection('privacy-policy', 'privacy-policy')" src="img/arrows.svg">
    </div>
</div>
