@use 'variables' as *;

.section-container {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    
    span, a {
        color: $white;
    }
    
    a {
        font-family: 'Exo 2';
        font-weight: 400;
        color: $blue;

        @media(hover: hover) {
            &:hover {
                cursor: pointer;
                filter: brightness(0.75);
            }
        }
    }

    div {
        text-align: center;
    }

    .img-container {
        width: 100%;

        img {
            height: 25px;
            width: 25px;
            object-fit: contain;
    
            @media(hover: hover) {
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.75);
                }
            }
        }
    }
}