<div id="cmd" class="section-container center">
    <div class="terminal column">
        <div class="header">
            <img (click)="scroll.goToSection('main', 'landing-page')" src="img/close.svg">
        </div>
        
        <div class="content-container ">
            @if(executedCommands.length) {
                <div class="executed-commands-container">
                    @for(executedCommand of executedCommands; track $index) {
                        <div class="row executed-command-line gap-5">
                            <span class="bold">root&#64;root:~{{ executedCommand.path }}$</span>
                            <span>{{ executedCommand.command }}</span>
                        </div>
                        @if(isCommandSent) {
                            @if(executedCommand.command !== 'help' && executedCommand.command !== 'ls') {
                                <span>{{ executedCommand.output }}</span>
                            } @else if(executedCommand.command === 'help') {
                                <app-help [availableCommands]="availableCommands"></app-help>
                            } 
                            @else if(executedCommand.command === 'ls') {
                                <app-ls [executedCommand]="executedCommand"></app-ls>
                            }
                        }
                    }
                </div>
            }
            <div class="input-line row gap-5" id="input-line">
                <span class="bold">root&#64;root:~{{ currentPathString }}$</span>
                <textarea [(ngModel)]="command" (keydown.enter)="$event.preventDefault(); executeCommand(command)" (keydown)="selectCommand($event)"></textarea>
            </div>
        </div>
    </div>
</div>
