<div id="contact" class="section-container column center gap-30">
    <div class="header-container">
        <h2>CONTACT</h2>
    </div>

    <div class="content-container between row gap-40">
        <div class="contact-text-container column gap-30 left">
            <h3>Got a problem to solve?</h3>
            <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
            <span>Need a Full-Stack Developer? <b>Contact me!</b></span>
        </div>

        <div class="column gap-20 center form-button-wrapper">
            <div class="contact-form-container column gap-10 center">
                <div class="input-row column gap-10">
                    <input #name type="text" pattern="^(?=.*[a-zA-Z])[a-zA-Z ]*$" placeholder="Your name...">
                    @if(isSubmitAttempted && !name.value.length) {
                        <span class="error-message">{{ 'Enter your name!' }}</span>
                    } @else if(isSubmitAttempted && !nameRegex.test(name.value)) {
                        <span class="error-message">{{ 'Invalid name!' }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
                <div class="input-row column gap-10">
                    <input #email type="text" placeholder="Your email...">
                    @if(isSubmitAttempted && !email.value.length) {
                        <span class="error-message">{{ 'Enter your email!' }}</span>
                    } @else if(isSubmitAttempted && !emailRegex.test(email.value)) {
                        <span class="error-message">{{ 'Invalid email!' }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
                <div class="input-row column gap-10">
                    <textarea #message id="message" placeholder="Your message..."></textarea>
                    @if(isSubmitAttempted && !message.value.length) {
                        <span class="error-message">{{ 'Enter your message!' }}</span>
                    } @else if(isSubmitAttempted && !messageRegex.test(message.value)) {
                        <span class="error-message">{{ 'Invalid message content!' }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
            </div>

            <div class="column gap-5 center">
                <div class="accept-container row left gap-10 align-center">
                    @if(!isChecked) {
                        <img src="img/checkbox-unchecked.svg" (click)="toggleChecked()">
                    } @else {
                        <img src="img/checkbox-checked.svg" (click)="toggleChecked()">
                    }
                    <span (click)="toggleChecked()">I have read and accept the <span class="link">privacy policy.</span></span>
                </div>
                @if(isSubmitAttempted && !isChecked) {
                    <span class="error-message">{{ 'You must accept the privacy policy!' }}</span>
                } @else {
                    <span class="error-message"></span>
                }
            </div>

            <div class="button-container">
                <button (click)="submit(name.value, email.value, message.value)">Say hello</button>
            </div>
        </div>
    </div>
</div>
