@use 'variables' as *;

.content-container {
    width: 100%;
    max-width: 1440px;
}

.form-button-wrapper {
    width: 50%;
}

.contact-text-container {
    width: 50%;
    align-items: flex-start;

    h3 {
        font-weight: 600;
    }

    h3, span {
        width: 100%;
        text-align: left;
    }

    span {
        color: $white;
    }
}

.contact-form-container {
    width: 100%;

    .input-row {
        width: 100%;

        input, textarea {
            width: 100%;
            background-color: $dark-blue-opacity;
            color: $white;
            font-family: 'Exo 2';
            font-size: 1rem;
            line-height: 1.3rem;
            letter-spacing: 2px;
            padding: 12px 20px;
            border: 1px solid $blue;
            backdrop-filter: blur(2px);
            outline: none;
            resize: none;

            &:focus {
                border-color: $blue-hover;
                box-shadow: 0 0 7px $blue-hover;
                transition: $transition;
            }

            &::placeholder {
                color: $blue;
            }
        }

        textarea {
            height: 10rem;
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: $dark-autofill !important;
  -webkit-box-shadow: 0 0 0 1000px $dark-autofill inset !important;
  -webkit-text-fill-color: $white !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 
    0 0 0 1000px $dark-autofill inset,
    0 0 7px $blue-hover !important;
}

.accept-container {
    @media(hover: hover) {
        img:hover {
            cursor: pointer;
        }
    }

    span {
        color: $white;

        .link {
            color: $blue;
            
            @media(hover: hover) {
                &:hover {
                    cursor: pointer;
                    filter: brightness(0.75);
                }
            }
        }
    }
}

.button-container button {
    width: fit-content;
    font-family: "Exo 2";
    color: $blue;
    font-size: 1.2rem;
    border: 1px solid $blue;
    padding: 10px 15px;
    transition: $transition;
    
    @media(hover: hover) {
        &:hover {
            cursor: pointer;
            color: $dark-blue;
            background-color: $blue;
            transition: $transition;
            box-shadow: 0 0 7px $blue-hover;
        }
    }
}

.error-message {
    font-size: 0.8rem;
    color: red;
    height: 1rem;
    text-align: center;
}

.bold {
    font-weight: 600;
    color: $blue !important;
}

.arrow-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
        max-height: 50px;
        height: 10vw;
        min-height: 40px;
        object-fit: contain;
        transform: rotate(180deg);
        
        @media(hover: hover) {
            &:hover {
                cursor: pointer;
                filter: brightness(0.75);
            }
        }
    }
}

@media(max-width: 800px) {
    .content-container {
        flex-direction: column;
        align-items: center;

        .form-button-wrapper {
            width: 100%;
        }

        .contact-text-container, 
        .contact-form-container {
            width: 100%;
            align-items: center;

            h3, span {
                text-align: center;
            }
        }

        .contact-form-container {
            .input-row textarea {
                height: 5rem;
            }
        }
    }
}