<div id="contact" class="section-container column center gap-40">
    <div class="header-container">
        <h2>{{ 'contact' | translate }}</h2>
    </div>

    <div class="content-container between row gap-40">
        <div class="contact-text-container column gap-30 left">
            <h3>{{ 'got-a-problem' | translate }}</h3>
            <span>{{ 'contact-me-text' | translate }}</span>
            <div>
                <span>{{ 'need-a-developer' | translate }} </span>
                <span class="bold">{{ 'contact-me' | translate }}</span>
            </div>
        </div>

        <div class="column gap-20 center form-button-wrapper">
            <div class="contact-form-container column gap-10 center">
                <div class="input-row column gap-10">
                    <input id="name" [(ngModel)]="name" type="text" pattern="^(?=.*[a-zA-Z])[a-zA-Z ]*$" [placeholder]="'placeholder-name' | translate">
                    @if(isSubmitAttempted && !name.length) {
                        <span class="error-message">{{ 'error-enter-name' | translate }}</span>
                    } @else if(isSubmitAttempted && name.length < 3) {
                        <span class="error-message">{{ 'error-name-too-short' | translate }}</span>
                    } @else if(isSubmitAttempted && !nameRegex.test(name)) {
                        <span class="error-message">{{ 'error-invalid-name' | translate }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
                <div class="input-row column gap-10">
                    <input [(ngModel)]="email" type="text" [placeholder]="'placeholder-email' | translate">
                    @if(isSubmitAttempted && !email.length) {
                        <span class="error-message">{{ 'error-enter-email' | translate }}</span>
                    } @else if(isSubmitAttempted && !emailRegex.test(email)) {
                        <span class="error-message">{{ 'error-invalid-email' | translate }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
                <div class="input-row column gap-10">
                    <textarea [(ngModel)]="message" id="message" [placeholder]="'placeholder-message' | translate"></textarea>
                    @if(isSubmitAttempted && !message.length) {
                        <span class="error-message">{{ 'error-enter-message' | translate }}</span>
                    } @else if(isSubmitAttempted && message.length < 10) {
                        <span class="error-message">{{ 'error-message-too-short' | translate }}</span>
                    } @else if(isSubmitAttempted && !messageRegex.test(message)) {
                        <span class="error-message">{{ 'error-invalid-message' | translate }}</span>
                    } @else {
                        <span class="error-message"></span>
                    }
                </div>
            </div>

            <div class="column gap-5 center">
                <div class="accept-container row left gap-10 align-center">
                    @if(!isChecked) {
                        <img src="img/checkbox-unchecked.svg" (click)="toggleChecked()">
                    } @else {
                        <img src="img/checkbox-checked.svg" (click)="toggleChecked()">
                    }
                    <span>{{ 'accept-privacy-policy' | translate }} <span class="link" (click)="scroll.goToSection('privacy-policy', 'privacy-policy')">{{ 'privacy-policy' | translate }}</span>.</span>
                </div>
                @if(isSubmitAttempted && !isChecked) {
                    <span class="error-message">{{ 'must-accept-privacy-policy' | translate }}</span>
                } @else {
                    <span class="error-message"></span>
                }
            </div>

            <div class="button-container">
                <button (click)="submit(name, email, message)">{{ 'say-hello' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="arrow-container row between">
        <img id="cmd" (click)="scroll.goToSection('cmd', 'cmd')" src="img/cmd.svg">
        <img (click)="scroll.goToSection('main', 'landing-page')" src="img/arrows.svg">
    </div>
</div>
