@use 'variables' as *;

:root {
  --txt-white: #{$txt-white};
}

/* exo-2-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: url('/media/exo-2-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('/media/exo-2-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* exo-2-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: url('/media/exo-2-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* exo-2-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: url('/media/exo-2-v24-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* OCRAbyBT - latin */
@font-face {
  font-display: swap;
  font-family: 'OCRAbyBT';  // This is the name you'll use in your CSS.
  font-style: normal;
  font-weight: 400;
  src: url('/media/OCRAbyBT-Regular.woff2') format('woff2');
}



* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, span, a, p, li {
  word-spacing: 5px;
  font-family: $font;
}

span, li, a, p, button {
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

p, a, button {
  all: unset;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

@function px($value) {
  @return #{$value}px;
}

@for $i from 1 through 10 {
  .gap-#{$i * 5} {
    gap: px($i * 5);
  }
}

h1, h2, h3, h4 {
  font-family: $font;
  text-align: center;
  color: $blue;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
  font-weight: 600 !important;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

h3 {
  font-size: min(10vmin, 1.5rem);
}

h4 {
  font-size: min(9vmin, 1.2rem);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type="number"] {
    -ms-appearance: none !important;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
}

.section-container {
  padding: 10vh 30px;
  min-height: 100vh;
  min-height: 100dvh;
}

.single-arrow-container {
  padding: 2vh 0;

  img {
      height: 50px;
      object-fit: contain;
      
      @media(hover: hover) {
          &:hover {
              cursor: pointer;
              filter: brightness(0.75);
          }
      }
  }
}

@media(max-width: 600px) {
  .section-container {
    padding: 15vh 5%;
  }
}