$black: #000000;
$white: #ffffff;
$txt-white: #ffffff;
$dark-blue-opacity: #00080733;
$dark-opacity: #000807ab;
$dark-autofill: #000000;
$dark-blue: #000807;
$blue-hover: #63ffd8;
$blue: #00ffe0;
$grey: #3f3f3f;

$background-gradient: radial-gradient(ellipse, white, transparent);

$font: 'Exo 2';

$transition: all 100ms ease-in-out;

$colorStop1: #00ffc83d;
$colorStop2: #1ba5003d;
$colorStop3: #003300;