$black: #000000;
$white: #ffffff;
$txt-white: #ffffff;
$dark-blue-opacity: #00080733;
$dark-opacity: #000807ab;
$dark-autofill: #000000;
$dark-blue: #000807;
$blue-hover: #63ffd8;
$blue: #00ffe0;

$font: 'Exo 2';

$transition: all 75ms ease-in-out;